<li class="row">
	
	<div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 ml-0 mr-0">
		{{burger_name}}
	</div>
	<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 ml-0 mr-0">
		<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
			{{#if devoured}}devoured!{{else}}devour It!{{/if}}
		</button>
	</div>
	
</li>